<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite-Tests por Classes" parallel="tests" thread-count="8" data-provider-thread-count="10" >
    <listeners>
        <listener class-name="br.com.home.lab.softwaretesting.automation.selenium.webdriver.config.ScreenshotListener"/>
    </listeners>

    <test name="E2E Tests - Need the app running" thread-count="5" parallel="methods" enabled="false" >
        <classes>
            <class name="br.com.home.lab.softwaretesting.automation.cucumber.testrunner.TestRunnerManager"/>

        </classes>
    </test>
    <test name="E2E Selenium tests">
        <classes>
            <class name="br.com.home.lab.softwaretesting.automation.selenium.webdriver.test.EntriesTest" />
            <!-- class name="br.com.home.lab.softwaretesting.automation.restassured.ControllerTest"/ -->
        </classes>
    </test>
    <test name="Localstack PoC tests" parallel="methods" enabled="false">
        <classes>
            <class name="br.com.home.lab.softwaretesting.automation.aws.test.AwsLocalTests"/>
        </classes>
    </test>
    <test name="Kakfa PoC tests" parallel="methods" enabled="false">
        <classes>
            <class name="br.com.home.lab.softwaretesting.automation.kafka.test.KafkaProducerTest" />
        </classes>
    </test>
</suite>