services:

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      # Renamed variables (removed _CFG)
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller

      # Corrected networking for KRaft
      # Use the container hostname 'kafka' for internal communication
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,INTERNAL://:9094
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # Added CONTROLLER listener to advertised listeners (Fixes next error)
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092,INTERNAL://kafka:9094,CONTROLLER://kafka:9093

      # Added a stable Cluster ID (Fixes startup warnings/failures)
      - KAFKA_CLUSTER_ID=lkorDA4qT6W1K_dk0LHvtg
      - KAFKA_LOG_DIRS=/var/lib/kafka/data
    ports:
      - "0.0.0.0:9092:9092"
    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    ports:
      - "8181:8080"
    restart: "always"
    environment:
      #KAFKA_CLUSTERS_0_NAME: "dev-kafka-cluster"
      KAFKA_CLUSTERS_0_NAME: "lkorDA4qT6W1K_dk0LHvtg"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9094
    depends_on:
      - kafka

  ############################### AWS LocalStack
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566" # gateway and external services port
    environment:
      - SERVICES=s3,logs,lambda,iam, secretsmanager,logs,cloudwatch
      - DEBUG=1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - LOCALSTACK_HEALTH_URL=http://localhost:4566/_localstack/health
    volumes:
      - localstack_data:/var/lib/localstack
      - ./awslocal/init:/etc/localstack/init/
      - ./awslocal/init:/etc/localstack/init/ready.d
      - ./awslocal/s3:/etc/localstack/s3
      - ./awslocal/secrets:/etc/localstack/secrets
      - ./awslocal/lambda:/opt/lambda/
      -  /var/run/docker.sock:/var/run/docker.sock
      - /tmp/localstack_custom:/tmp/localstack_custom
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4566/_localstack/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - dev-local-network

volumes:
  localstack_data:
    driver: local
  kafka_data: # Define the volume for Kafka data persistence
    driver: local

networks:
  dev-local-network:
    driver: bridge
